:root {
    --system-color-page: hsla(0, 0%, 10%);
    --system-title-page: rgba(255, 255, 255, 0.826)
}

.title_project {
    color: var(--system-title-page);
    font-size: 3.5rem;
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
    .title_project {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .col-3 {
        width: 100%;
        margin-bottom: 2rem;
    }

    .card a {
        margin-left: 8rem;
    }
}