:root {
    --system-color-page: hsla(0, 0%, 10%);
    --system-title-page: rgba(255, 255, 255, 0.826)
}

body {
    margin: 0px;
    padding: 0px;
    /* background: var(--system-color-page); */
    background-image: url("../../assets/fondo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: 98%;
}

.titleHome {
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding-left: 5rem;
    margin-top: 10px;
    color: var(--system-title-page)
}

@media (max-width: 768px) {

    main .row.mx-5 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        display: flex;
        flex-direction: column;
    }

    main .col-5.mx-5 {
        width: 100%;
    }
}

@media (max-width: 400px) {
    body {
        width: 135%;
    }

    main .row.mx-5 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        display: flex;
        flex-direction: column;
    }

    main .col-5.mx-5 {
        width: 100%;
    }
}